<configuration>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="spray.http" level="WARN" />
    <logger name="spray.routing" level="WARN" />

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
