<form novalidate>
  <div class="form-group">
    <label>Refresh interval</label>
    <select class="form-control" ng-model="gridDynConfig.refreshRate">
      <option value="1000">1 sec</option>
      <option value="2000">2 sec</option>
      <option value="5000">5 sec</option>
      <option value="10000">10 sec</option>
      <option value="60000">1 min</option>
    </select>
  </div>

  <div class="form-group">
    <label>Highlight max cpu from</label>
    <input class="form-control" type="number" ng-model="gridDynConfig.maxCpu"/>
  </div>
</form>